* {
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

header {
    position: relative;
    height: 100vh;
    background: url('../img/gbc.jpg') no-repeat center center/cover;
    z-index: 1001;
}


h1 {
    font-family: 'Roboto Slab', serif;
    font-size: 4em;
    margin: 0;
}

h2 {
    font-family: 'Roboto Slab', serif;
    font-size: 2rem;
    margin-right: 3rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
}


p {
    font-size: 1.2rem;
    line-height: 1.5em;
    margin: 20px 0;
}

.overlay {
    background-color: rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    text-align: center;
}

#title-box {
    color: #f1f1f1;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 40px 60px;
    border-radius: 10px;
    text-align: center;
    max-width: 700px;
    margin: 0 auto;
    margin-top: calc(50vh - 200px);
}

#title-box h1 {
    font-size: 4em;
    margin-top: 2rem;
}

#title-box a {
    color: #f1f1f1;
    text-decoration: none;
    margin-top: 2rem;
    opacity: 0.5;
    transition: opacity 0.3s;
}

#title-box a:hover {
    opacity: 1;
}

.container {
    max-width: 1000px;
    margin: 6rem auto;
    padding: 0 20px;
}

nav {
    background-color: #ffffff;
    margin-top: -3rem;
    text-align: center;
    position: sticky;
    left: 0;
    top: 0;
    text-transform: uppercase;
    transition: box-shadow 0.3s;
    z-index: 1001;
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

nav h1 {
    margin: 10em 0;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin: 0 15px;
}

nav ul li a {
    color: #444;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    padding: 1rem 1.5rem;
    transition: background-color 0.3s;
}

nav ul li a:hover {
    background-color: #d1d7dc;
}

section {
    padding: 40px 20px;
    color: #f1f1f1;
    clear: both;
}

footer {
    background-color: #e1e1e1;
    color: #666;
    font-size: 16px;
    font-weight: 100;
    text-align: center;
    padding: 40px;
    line-height: 1.5em;
}

footer a {
    color: #999;
    text-decoration: none;
}

.roundedBox {
    border-radius: 10px;
    background-color: white;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 40px 40px;
    color: #333;
    font-size: 1.3rem;
}

.roundedBox .material-symbols-outlined {
    color: #0065A4;
    position: relative;
    top: 2px;
    margin-right: 8px;
}


.roundedBox h3:not(:first-child) {
    margin-top: 2rem;
}

.roundedBox h3 {
    margin-bottom: 8px;
}

#backToTop {
    display: inline-block;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 24px;
    background-color: white;
    color: #444;
    padding: 10px 13px;
    border-radius: 50%;
    cursor: pointer;
    z-index: 1000;
    font-size: 24px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: background-color 0.3s ease;
}

#backToTop:hover {
    background-color: #f1f1f1;
}

#backToTop > span {
    position: relative;
    top: 1px;
}

/* Section: Detail  */
section#details {
    background: linear-gradient(135deg, #005FA0, #0080C1);
}

section#speakers {
    background: linear-gradient(135deg, #F57E25, #f99e2f);
}

section#speakers h3 {
    font-size: 1.5rem;
    margin-top: 1rem;
}

section#speakers h4 {
    font-size: 1.2rem;
    margin-top: 0.5rem;
}

section#speakers hr {
    margin: 2rem auto;
    width: 50%;
    border: 1px dashed #dd6e1a;
    opacity: 0.5;
}

section#speakers figure {
    text-align: center;
    border: 2px solid #dd6e1a;
    padding: 40px;
    border-radius: 20px;
    transition: all 0.3s;
}

section#speakers figure:hover {
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #dd6e1a;
}

section#speakers figure img {
    width: 100%;
    border-radius: 50%;
    display: block;
    margin: 0 auto;
    width: 240px;
}

/* Section: Gallery */
section#gallery {
    background: linear-gradient(135deg, #a34fc4, #a46cf8);
}

section#gallery article {
    clear: both;
}

section#gallery figure {
    float: left;
    text-align: center;
}

section#gallery figure:not(:first-child) {
    margin-top: 2rem;
    width: calc(50% - 10px);
    margin-right: 20px;
}

section#gallery figure:last-child {
    margin-right: 0;
}

section#gallery img {
    max-width: 100%;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    transition: all 0.3s;
    filter:brightness(0.8);
}

section#gallery img:hover {
    filter:brightness(1.1);
}

section#gallery figure:not(:first-child) img {
    width: 100%;
}

/* Section: Schedule */
section#schedule {
    background: linear-gradient(135deg, #89a100, #aec81c);
}

section#schedule ul {
    list-style: none;
    padding: 0;
}

section#schedule ul li {
    border-bottom: 1px dashed #f1f1f1;
    margin-bottom: 2rem;
    padding-bottom: 1rem;
}

section#schedule ul li:last-child {
    border-bottom: none;
    margin-bottom: 0;
}

section#schedule time {
    font-family: 'Roboto Mono', monospace;
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px 0;
    background-color: #f1f1f1;
    color: #75992d;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    margin-bottom: 1rem;
    display: inline-block;
    margin-right: 20px;
}

/* Section: Testimonials */
section#testimonials {
    background: linear-gradient(135deg, #188757, #2ca16e);
    text-align: center;
}

section#testimonials article {
    padding: 0 40px;
}

section#testimonials blockquote {
    font-family: 'Merriweather', serif;
    line-height: 1.5em;
    font-style: italic;
    font-size: 1.3rem;
}

section#testimonials hr {
    margin: 2rem auto;
    width: 50%;
    border: 1px dashed #f1f1f1;
    opacity: 0.5;
}

section#testimonials cite {
    font-family: 'Playfair Display', serif;
    font-weight: bold;
    color: #21533d;
    display: block;
    margin-top: 1rem;
}

section#testimonials cite small {
    display: block;
    font-size: 1rem;
}

/* Section: Location */
section#location {
    background: linear-gradient(135deg, #0062A2, #0080C1);
}

section#location .container {
    margin-bottom: 2rem;
}
section#location .address {
    width: 100%;
    font-size: 1.2em;
    line-height: 2em;
}

section#location .mapWrapper {
    width: 100%;
    max-width: 1000px;
    margin: 0 auto 40px auto;
}

section#location iframe {
    width: 100%;
    height: 450px;
    border: none;
    border-radius: 20px;
}

/* Reflectoin */
.extraNav {
    padding: 40px 0;
    font-size: 1.5rem;
    background: #444;
    text-align: center;
}

.extraNav a {
    color: white;
    text-decoration: none;
    margin: 0 20px;
    display: inline-block;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    transition: background-color 0.3s;
}

.extraNav a:hover {
    background-color: white;
    color: #444;
}

section#reflection {
    background: linear-gradient(135deg, #0065A4, #0080C1);
}

section#reflection p {
    margin-top: 0;
    font-family: 'Merriweather', serif;
    line-height: 1.75em;
    font-size: 1.2rem;
}

section#reflection .author {
    font-family: 'Playfair Display', serif;
    font-weight: semi-bold;
    display: block;
    margin-top: 1rem;
    line-height: 2em;
    font-size: 1.5rem;
}

section#reflection .author small {
    display: block;
}

.backToEvent {
    max-width: 1000px;
    margin: 0 auto;
}

.backToEvent a {
    margin-top: 2rem;
    color: white;
    text-decoration: none;
    transition: opacity 0.3s;
    opacity: 0.8;
    padding: 10px 20px;
    margin-left: -20px;
    font-size: 1.2rem;
}

.backToEvent a:hover {
    opacity: 1;
}

.backToEvent a .material-symbols-outlined {
    margin-right: 8px;
    position: relative;
    top: 4px;
}
